@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
header{
    position: fixed;
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 16vh;
    align-items: center;
    z-index: 10;
}
h2{
    position: absolute;
    left: 7vw;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
nav{
    display: flex;
    width: 96%;
    justify-content: flex-end;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 35%;
}
li{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 18%;
    height: 7.5vh;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    transition: ease-in-out 0.8s;
}
li:hover{
    font-size: 16.5px;
    transform: scale(115%);
    font-weight: 900;
}
li span{
    font-size: 16px;
    font-family: "Monteserrat", sans-serif;
    font-weight: 900;
    align-items: baseline;
}
main{
    height: 150vh;
    padding-left: 2px;
    padding-right: 2px;
}
.firstSection{
    position: relative;
    top: 16.1vh;
    display: flex;
    background-image: url("/assets/orangeblue.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.firstSection div{
    display: flex;
    width: 80%;
    height: 20vh;
}
div p{
    font-size: 55px;
    align-items: flex-start;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    transition: ease-in-out 1s;
    cursor: pointer;
}
div p:hover{
    font-size: 55px;
    align-items: flex-start;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    transform: rotate(360deg);
}
.aSection{
    position: absolute;
    left: 10vw;
    top: 51.8vh;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 25.3px;
    text-decoration: none;
    transition: ease-in-out 0.8s;
}
.aSection:hover{
    text-decoration:underline;
    transform: scale(110%);
}
.secondSection{
    position: absolute;
    top:116.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 905px;
    width: 99.8%;
}
.secondSection figure{
    display: flex;
    height: 47.8vh;
    width: 21.8vw;
    justify-content: center;
}
.secondSection img{
    height:46.5vh;
    transition: ease-in-out 1s;
}
.secondSection img:hover{
    transform: scale(106.6%);
}
footer{
    top: 1680px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #F6F6F6;
    align-items: center;
}
footer section{
    display: flex;
    position: absolute;
    left: 4.4vw;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 26%;
}
footer section img{
    height: 4.3vh;
}
footer p{
    position: absolute;
    left: 36.5vw;
    top: 5.6vh;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.p2Footer{
    position: absolute;
    left: 44.5vw;
    top: 5vh;
    font-size: 12.4px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    width: 31.5%;
}
.p2Footer a{
    text-decoration: none;
    color: black;
}
@media (max-width: 600px){
    header{
    position: absolute;
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 7.6vh;
    align-items: center;
}
.menuHamburguer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid;
    width: 30vw;
    height: 7.6vh;
    background-color: black;
    border: solid;
    display: flex;
    cursor: pointer;
}
nav:hover{
    position: relative;
    top:21vh;
    left: 0vw;
    background-color:black;
    transform: scale(100%);
    display: initial;
    color: white;
}
/* nav:hover ~ li{
    display: flex;
    position: relative;
    width: 100%;
    color: white;
    padding-left: 5px;
    justify-content: flex-start;
    transition: ease-in-out 1s;
    z-index: 10;
}   estudar como fazer o menu hamburguer usando esse formato */ 
.linha{
    position: relative;
    left: 38%;
    background-color: white;
    width: 25%;
    height: 0.7vh;
    border-radius: 20px;
}
nav{
    position: relative;
    top: 1vh;
    left: -45vw;
    height: 50vh;
    width: 60%;
    transform:scale(10%);
    color: transparent;
    transition: ease-in-out 0.8s;
}
ul{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:50vh;
    align-items:flex-start;
}
li{
    display: flex;
    position: relative;
    left:4vw;
    width: 85.5%;
    color:inherit;
    justify-content:flex-start;
    transition: ease-in-out 0.6s;
}
li:hover{
    background-color: white ;
    color: black;
    padding-left: 17px;
}
h2{
    left: 41vw;
}
main{
    height: 150vh;
    padding: 0;
}
.firstSection{
    position: relative;
    top: 7.6vh;
    display: flex;
    background-image: url("/assets/laranja\ recortada.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 183.4vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.firstSection div{
    position: relative;
    display: flex;
    top: 37vh;
    left: 3.5vw;
    flex-direction: column;
    justify-content:space-evenly;
    width: 85%;
    height: 55vh;
}
div p{
    font-size: 80px;
    transition:none;
}
div p:hover{
   font-size:80px;
}
.aSection{
    left: 11.5vw;
    top: 158vh;
}
.secondSection{
    top:195vh;
    height: 3500px;
    width: 99%;
}
.secondSection figure{
    display: flex;
    height: 85vh;
    width: 85%;
}
.secondSection img{
    height:76vh;
    transition: ease-in-out 1s;
}
/* como que troca essas imagens de lugar ??? kkkk não conheço esse feitiço */
footer{
    top: 7280px;
    display: flex;
    height: 36vh;
    align-items: center;
}
footer section{
    display: flex;
    top: 0;
    left: 10.8vw;
    height: 10vh;
    width: 77%;
    background-color: #7FDBD4;
}
footer section img{
    height: 6vh;
}
footer p{
    left: 11vw;
    top: 15vh;
    font-size: 18.5px;
}
.p2Footer{
    left: 11.5vw;
    top: 20vh;
    font-size: 17px;
    width: 49.3%;
}
.p2Footer a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.ancora{
    position: absolute;
    display: flex;
    left: 70vw;
    top: 19vh;
    background-color:#333333 ;
    border: none;
    width: 100px;
    height: 7vh;
    font-size: 20px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
}