@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    /* border: solid red; */
    width: 100%;
    height: 16vh;
    align-items: center;
}
h2{
    position: absolute;
    left: 7vw;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
}
nav{
    display: flex;
    width: 96%;
    /* border: solid yellow; */
    justify-content: flex-end;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    /* border: solid darkblue; */
    width: 42%;
}
li{
    justify-content: center;
    display: flex;
    align-items: center;
    /* border: solid green; */
    width: 100%;
    height: 7.5vh;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
span{
    font-size: 20px;
    font-family: "Monteserrat", sans-serif;
    font-weight: 900;
    align-items: baseline;
}


main{
    height: 150vh;
}

.firstSection{
    display: flex;
    background-image: url("/assets/orangeblue.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 89vh;
    align-items: center;
    justify-content: center;
}
.firstSection div{
    display: flex;
    width: 80%;
    height: 20vh;
}
div p{
    font-size: 55px;
    align-items: flex-start;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}
.p2Section{
    position: absolute;
    left: 10vw;
    top: 66vh;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 25.3px;
}
.secondSection{
    display: flex;
    border: solid;
    height: 800vh;
    width: 100%;
}
.mainImages{
    border: solid darkblue;
    height: 280vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}